*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a:hover{
    background-color: hsl(313, 82%, 50%);
}
.index-header{
    background-image: url(images/kuromi.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}
.title{
    color: rgba(243, 135, 220, 0.877);
    padding-top: .5em;
    font-weight: bold;
    text-align: center;
}
ul{
    text-align: center;
}
.nav li{
    display: inline;
    }
.nav a{
    padding-inline: 1em;
    color: rgb(243, 135, 220);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: lighter;
    font-size: larger;
    border: solid rgb(243, 135, 220);
}
section
{
    background-color: rgb(255, 77, 255);
    text-align: center;
}
.index-heading{
    font-size: 40px;
    padding-top: 35px;
    height: 110px;
    text-decoration: underline;
}
.miah_image{
    float: left;
    height: 513px;
    width: 300px;
    object-fit: cover;
    object-position: top;
}
.p-home{
    font-size: 20px;
    text-align: center;
    padding-bottom: 39px;
}
.footer{
    background-color: black;
    color: rgba(243, 135, 220, 0.877);
    padding-bottom: 2px;
}
h3{
    text-align: center;
}
.tiktok{
    text-decoration: none;
    color: rgb(243, 135, 220);
    margin-left: 360px;
}
.cody{
    margin-left: 321px;
    text-decoration: none;
    color: rgb(243, 135, 220);
}
.instagram{
    text-decoration: none;
    color: rgb(243, 135, 220);
    margin-left: 19px;
}
/*end of index.html*/
.body-personality{
    background-color: black;
}
.div-personality{
    border: solid;
    border-width: 5px;
    border-color: purple;
    margin-left: 245px;
    margin-right: 245px;
    background-color: rgb(255, 77, 255);
    padding-top: 5px;
    text-align: center;
}
.p-personality{
    padding-bottom: 47px;
    font-size: 20px;
}
.div-footer{
    border: solid purple;
    border-width: 5px;
    padding-top: 11px;
}
.h3-p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.kuromi{
    width: 230px;
    height: 430px;
    object-fit: cover;
    float: left;
}
.kuromi2{
    width: 230px;
    height: 430px;
    object-fit: cover;
    float: right;
}
.tiktokp{
    text-decoration: none;
    color: rgb(243, 135, 220);
    margin-left: 501px;
}
/*end of personality.html*/
.section3{
    background-color: black;
    text-align: center;
    border-width: 0px;
}
.div-talents{
    border: solid;
    border-width: 3px;
    border-color: purple;
    margin-left: 245px;
    margin-right: 245px;
    background-color: rgb(255, 77, 255);
    padding-top: 10px;
}
.p-personality2{
    padding-bottom: 70px;
    font-size: 20px;
}
.footer-t{
    background-color: black;
    color: rgba(243, 135, 220, 0.877);
    padding-bottom: 2px;
}
/*end of talents.html*/
.section2{
    border: solid purple;
    border-width: 5px;
    background-color: rgb(255, 77, 255);
}
.image21{
    height: 480px;
    width: 270px;
    margin: 15px;
    margin: 30px;
    border: solid purple;
    border-width: 5px;
}
.tiktok1{
    text-decoration: none;
    color: rgb(243, 135, 220);
    margin-left: 511px;
}
.cody1{
    margin-left: 470px;
    text-decoration: none;
    color: rgb(243, 135, 220);
}
.instagram1{
    text-decoration: none;
    color: rgb(243, 135, 220);
    margin-left: 19px;
}
/*end of miah.html*/
